@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    /* border: red 1px solid; */
}

body {
    @apply min-h-screen bg-gray-50 flex;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    @apply cursor-pointer;
}

/* search bar */
input.search-bar {
    @apply w-full px-4 py-3 bg-white border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-transparent;
}